<h2>Rules for Loans</h2>
<div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="horizontal-scroll">
    
                    <table class="table customersTable" st-safe-src="rules.newRules" st-table="rules.rules" st-set-filter="strictFilter">
                        <thead>
                            <tr class="sortable ">
                                <th st-sort="name">Rule name</th>
                                <th class="status" >Status</th>
                                <th class="productActions">Actions</th>
                            </tr>
                            <tr>
                                <th><input st-search="name" placeholder="Rule Name" class="input-sm form-control search-input" type="search" /></th>
                                <th>                                        
                                    <select st-search="active">
                                        <option value="">All</option>
                                        <option value="false">Inactive</option>
                                        <option value="true">Active</option>
                                    </select>    
                                </th>
                                <th class="productActions">
                                <button class="btn btn-info editable-table-button btn-xs" ng-click="rules.newRuleModal()">Add</button> 
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in rules.rules">
                                    <td>{{ item.name }}</td>
                                    <td class="status"><i class="fa" ng-class="{'fa-check-circle': item.active, 'fa-times-circle': !item.active }"  aria-hidden="true"></i></td>
                                    <td class="status">
                                        <button class="btn btn-success editable-table-button btn-xs" ng-click="console.log('edit!')">Edit</button> 
                                        <button class="btn btn-danger editable-table-button btn-xs" ng-click="rules.deleteModal(item.id)">Delete</button>
                                    </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" class="text-center">
                                    <div st-pagination="" st-items-by-page="rules.pageSize" st-displayed-pages="5"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
        </div>
    </div>